.app {
  background: #141414;
  height: 100vh;
  padding: 30px;
}

header {
  color: white;
  text-align: center;
  font-size: x-large;
}

.todo-list {
  align-items: center;
  background: #757575;
  border-radius: 4px;
  width: 35rem;
  padding: 5px;
}

.input {
  background-color: #2e2e2e;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.2rem 1rem;
  width: 15rem;
}

.input-todo {
  text-align: center;
  padding: 0.5rem 0 1rem 0;
}

.todo-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.todo {
  align-items: center;
  background-color: #2e2e2e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: medium;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
  height: 2rem;
}

.complete-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 3px;
}

.delete-btn {
  background-color: #af4c4c;
  border: none;
  color: white;
  padding: 0.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 3px;
}
